# fly.toml app configuration file generated for flightprediction-backend-autumn-sun-9580 on 2026-02-02T19:49:37+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'flightprediction-backend-autumn-sun-9580'
primary_region = 'cdg'
console_command = '/code/manage.py shell'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '16gb'
  cpu_kind = 'shared'
  cpus = 8
  memory_mb = 16384

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
